<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniyal.govava">

    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".LoginActivity"
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".RegistrationActivity"
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Question_1"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Question_2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Question_3"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Question_4"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <activity
            android:name=".Gift_for_Pets"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Pets"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Dogs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Contacts" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeShowAll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Men"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FilterActivity"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".Search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TabActivity_1" />
        <activity android:name=".TabActivity_2" />
        <activity
            android:name=".MensCulture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenWear"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CartTab1" />
        <activity android:name=".CartTab2"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstance">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>



    </application>

</manifest>